*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

form{
    width: 30%;
    height: 100%;
    position: fixed;
    left: 34%;
    top: 30%;
    justify-content: center;
    align-content: center;
}

label{
    font-weight: bold;
}

fieldset{
    background-color: bisque;
}